@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 20 20;
    --foreground: 255 255 255;
    --beige: 254 251 227;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shine {
  100% {
    transform: translateX(200%);
  }
}